---

service_name: proxy
service_port:
  - 22
  - 8080
  - 80
  - 5666
security_rules:
  - proto: tcp
    from_port: 22
    to_port: 22
    cidr_ip: 0.0.0.0/0
  - proto: tcp
    from_port: 8080
    to_port: 8080
    cidr_ip: 0.0.0.0/0
  - proto: tcp
    from_port: 80
    to_port: 80
    cidr_ip: 0.0.0.0/0
  - proto: tcp
    from_port: 5666
    to_port: 5666
    cidr_ip: 0.0.0.0/0
  - proto: icmp
    from_port: -1
    to_port: -1
    cidr_ip: 0.0.0.0/0

service_group: proxy-server
instances_to_lauch: 1
tag_ec2_name: proxy
tag_ec2_group: "{{ service_name }}"
